* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100vw;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    background: linear-gradient(to bottom,  #B2BEB5, #676767);
}

/* ---------- Navigation ----------- */

.navBar {
    width: 50%;
    margin: 0;
    padding: 1em;
    font-size: 1.2em;
    font-weight: 600;
    /* border: 1px solid #999; */
    position: fixed;
    width: 100vw;
    z-index: 2;
    background: linear-gradient(to bottom,  #272727, #9ba59d);
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
}

.navItem {
    padding: 0 1em;
    list-style-type: none;
}

.navItem a {
    text-decoration: none;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: flex;
}

.navItem a p {
    padding: 0 5px;;
    margin: 0;
    text-align: center;
    font-size: 0.8em;
}

.navItem a:hover {
    color: #ccc;
}

.icon {
    width: 1em;
}


/* --------- Page content -------- */

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    /* border: 1px solid #000; */
    overflow-x: hidden;
    position: relative;
}

.cover {
    /* border: 1px solid #000; */
    height: 97vh;
    width: 100vw;
    border-bottom: 5px solid rgb(255 255 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlebox {
    width: 500px;
    height: 500px;
    padding: 3em;
    background-color: rgb(255 255 255);
    /* border: 1px solid #fff; */
    border-radius: 1em;
    box-shadow:0 8px 10px 10px rgb(0 0 0 / 0.5), inset 0 0 10px rgb(0 0 0 / 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fade-top 1s ease;
    
}

.coverimg {
    width:300px;
    border-radius: 50%;
    box-shadow:0 5px 10px rgb(0 0 0 / 0.5);
}


.pagetitle {
    margin: 0;
    font-family: 'Righteous', cursive;
    font-size: 2.3em;
    font-weight: 600;
    letter-spacing: 0.2em;
    line-height: 1.2;
    color: #000;
}

.pagetitle p {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

.pagetitle p strong {
    font-size: 1.5em;
}

/* ---- Scroll button ---- */

.scrollbtn {
    width: 4em;
    height: 4em;
    margin: -2.1em auto;
    background-color: #ffffff;
    border: 3px solid rgb(255 255 255);;
    border-radius: 50%;
    transition: ease-out 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.scrollbtn:hover {
    background-color: #B2BEB5;
    margin-top: -2.5em;
    width: 5em;
    height: 5em;
    transition: all 0.3s ease-in;
}

.arrowicon {
    width: 2em;
}

.projects {
    width: 100vw;
    margin: auto;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
}

#projects-title {
    font-family: 'Righteous', cursive;
    font-size: 1.7em;
    width: 95vw;
    /* border: 1px solid #000; */
    border-radius: 1em;
    padding: 1.5em 1em;
    margin: 3em auto 0 auto;
    background-color: rgb(255 255 255);
    box-shadow:0 8px 10px 10px rgb(0 0 0 / 0.5), inset 0 0 10px rgb(0 0 0 / 0.5);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25vw;
}

#projects-title h2 {
    text-align: center;
}

.titleimg {
    width: 10%;
}

.project-wrapper {
    width: 95vw;
    min-height: 30vh;
    border: 1px solid #000;
    border-radius: 1em;
    padding: 1.5em 1.5em;
    background-color: rgb(255 255 255 / 0.2);
    box-shadow:0 8px 10px 10px rgb(0 0 0 / 0.5);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px,1fr));
    /* justify-items: center; */
    gap: 1em;
}


.project {
    min-width: 300px;
    min-height: 300px;
    /* border: 1px solid #fff; */
    border-radius: 2em;
    background-color: rgb(255 255 255 / 0.5);
    box-shadow:-10px 10px 10px 1px rgb(0 0 0 / 0.5), inset 1px -1px 10px 0px rgb(0 0 0 / 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.project h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1vw;
    text-shadow: 2px 2px 4px #000, 2px 2px 4px #000, 2px 2px 4px #000; 
    color: #fff;
}

.project-icon {
    width: 40%;
    margin-top: 1%;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.project-icon:hover {
    width: 50%;
}

#about {
    width: 95vw;
    min-height: 40vh;
    margin-top: 1em;
    padding: 2em 5em;
    border: 1px solid #000;
    border-radius: 1em;
    background-color: rgb(255 255 255 / 0.2);
    box-shadow:0 8px 10px 10px rgb(0 0 0 / 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
}

.icon-circle {
    width: 10em;
    height: 10em;
    /* border: 1px solid #fff; */
    border-radius: 50%;
    background-color: #fff;
    box-shadow:0px 10px 10px 1px rgb(0 0 0 / 0.5), inset 1px -1px 10px 0px rgb(0 0 0 / 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-icon {
    width: 60%;
    margin-left: 0.8em;
}

.about-title {
    font-size: 1.3em;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.about-text {
    font-size: 1.2em;
    text-align: justify;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.footer {
    width: 95vw;
    margin-top: 2em;
    padding: 2em;
    border-top: 2px solid rgb(255 255 255 / 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #000000;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.active.fade-left {
    animation: fade-left 0.5s ease-in;
  }
.active.fade-right {
    animation: fade-right 0.5s ease-in;
}

@keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes fade-top {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@media only screen and (max-width: 1137px) {
    .project h2 {
        font-size: 1.6vw;
    }
}

@media only screen and (max-width: 950px) {
    .titlebox {
        max-width: 85vw;
    }

    #projects-title {
        gap: 20vw;
    }

    .titleimg {
        width: 10%;
    }

    .projects {
        flex-direction: column;
    }

    .project-wrapper {
        width: 90vw;
        min-height: 10em;
        padding: 1em 1em;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .project h2 {
        font-size: 1.5em;
    }

    #about {
        width: 90vw;
        min-height: 1em;
        margin-top: 1.5em;
    }
}

@media only screen and (max-width: 680px) {
    .pagetitle {
        font-size: 2em;
    }


    #projects-title {
        width: 90%;
    }

    .titleimg {
        display: none;
    }

}

@media only screen and (max-width: 450px) {
    .navItem a p {
        font-size: 0.65em;
    }
    
    .cover {
        height: 90vh;
    }

    .titlebox {
        height: 60%;
    }

    .coverimg {
        width: 80%;
    }

    .pagetitle {
        font-size: 1.4em;
    }
    

    #projects-title h2 {
        font-size: 1.5em;
    }

    .projects {
        margin-left: -1em;
    }

    .project h2 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 380px) {
    .navItem {
        padding: 0 0.5em;
    }

}
